# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [87]:
import pandas as pd
import numpy as np

## imports for Python, Pandas

In [88]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [89]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [90]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [91]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [92]:
# load json as string
raw_data = json.load((open('data/world_bank_projects.json')))

In [93]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [94]:
wb_df_1 = pd.read_json('data/world_bank_projects.json')
wb_df_1.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{u'$oid': u'52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{u'Percent': 46, u'Name': u'Regional integrati...","[{u'code': u'47', u'name': u'Regional integrat...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{u'$oid': u'52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{u'Percent': 50, u'Name': u'Participation and ...","[{u'code': u'57', u'name': u'Participation and...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{u'$oid': u'52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Export development...","[{u'code': u'45', u'name': u'Export developmen...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [95]:
wb_df_1.shape

(500, 50)

# List of top 10 countries

- Extract country name column from the data frame
- Group by country and count the number of projects
- Sort from high to low

In [96]:
wb_df_2 = wb_df_1[['countryshortname', '_id']]
wb_df_3 = wb_df_2.groupby('countryshortname').count()

In [97]:
sorted_by_country = wb_df_3.sort_values('_id', ascending=False)
sorted_by_country.columns=['no. of projects']

In [98]:
sorted_by_country = sorted_by_country.reset_index()
sorted_by_country.head(10)

     countryshortname  no. of projects
0               China               19
1           Indonesia               19
2             Vietnam               17
3               India               16
4  Yemen, Republic of               13
5               Nepal               12
6          Bangladesh               12
7             Morocco               12
8          Mozambique               11
9              Africa               11

In [99]:
themes_df = json_normalize(raw_data, 'mjtheme_namecode', ['id'])
themes_df

     code                                          name       id
0       8                             Human development  P129828
1      11                                                P129828
2       1                           Economic management  P144674
3       6         Social protection and risk management  P144674
4       5                         Trade and integration  P145310
5       2                      Public sector governance  P145310
6      11  Environment and natural resources management  P145310
7       6         Social protection and risk management  P145310
8       7                   Social dev/gender/inclusion  P144665
9       7                   Social dev/gender/inclusion  P144665
10      5                         Trade and integration  P144933
11      4      Financial and private sector development  P144933
12      6         Social protection and risk management  P146161
13      6                                                P146161
14      2                      Public sector governance  P121185
15      4      Financial and private sector development  P121185
16     11  Environment and natural resources management  P127033
17      8                                                P127033
18     10                             Rural development  P130164
19      7                                                P130164
20      2                      Public sector governance  P130903
21      2                      Public sector governance  P130903
22      2                      Public sector governance  P130903
23     10                             Rural development  P145339
24      2                                                P145339
25     10                             Rural development  P146653
26      6         Social protection and risk management  P146653
27      6         Social protection and risk management  P146653
28     11  Environment and natural resources management  P146653
29      4                                                P144140
...   ...                                           ...      ...
1469    8                             Human development  P126465
1470    9                             Urban development  P128763
1471    6         Social protection and risk management  P128763
1472    6         Social protection and risk management  P128763
1473    9                             Urban development  P128763
1474    2                      Public sector governance  P131860
1475    2                      Public sector governance  P131860
1476   10                             Rural development  P123322
1477   11                                                P123322
1478    8                             Human development  P128096
1479    7                   Social dev/gender/inclusion  P128096
1480   11  Environment and natural resources management  P132138
1481    5                                                P132138
1482    6         Social protection and risk management  P129177
1483    8                                                P129177
1484    4      Financial and private sector development  P127299
1485    7                   Social dev/gender/inclusion  P127299
1486    8                             Human development  P125298
1487    5                         Trade and integration  P125298
1488    2                      Public sector governance  P125298
1489    8                             Human development  P125298
1490   10                             Rural development  P128309
1491    6                                                P128309
1492   10                             Rural development  P117243
1493   10                             Rural development  P117243
1494   10                             Rural development  P117243
1495    9                             Urban development  P126321
1496    8                             Human development  P126321
1497    5                         Trade and integration  P126321
1498    4      Financial and private sector development  P126321

[1499 rows x 3 columns]

In [100]:
themes_df_1 = themes_df[['name', 'id']]
themes_df_1.shape

(1499, 2)

In [101]:
themes_df[themes_df['name'] == ""].count()

code    122
name    122
id      122
dtype: int64

In [102]:
themes_df_2 = themes_df_1.drop_duplicates()
themes_df_2.shape

(1085, 2)

In [103]:
themesbycode = themes_df_1.groupby('id').count()
#themesbycode = themesbycode.reset_index('name')
themesbycode

         name
id
P075941     4
P085621     4
P086592     4
P094183     3
P095003     2
P095554     2
P098847     2
P101289     2
P101578     2
P102627     5
P104901     2
P105269     2
P110836     5
P112611     2
P112901     2
P113151     2
P113350     2
P113794     5
P113860     2
P113977     2
P114859     4
P114949     3
P115561     2
P115762     2
P116354     4
P117243     3
P117393     2
P117394     2
P117407     2
P117596     2
...       ...
P144917     3
P144928     2
P144933     2
P144967     2
P144992     4
P145018     2
P145057     4
P145095     2
P145114     5
P145118     4
P145138     2
P145160     4
P145310     4
P145311     2
P145339     2
P145359     2
P145434     2
P145545     3
P145605     3
P145750     3
P145865     2
P145938     2
P146021     3
P146098     2
P146109     2
P146125     2
P146161     2
P146271     5
P146653     4
P147689     2

[500 rows x 1 columns]

In [104]:
themesbycode['name'].value_counts()

2    228
4     97
3     92
5     74
1      9
Name: name, dtype: int64

In [105]:
themesbycode['name'].count()

500

# List major theme names

- Extract 'mjtheme-name' column that lists theme codes and names for each project (noting that most projects have more than one theme)
- Use json_normalize to convert the nested JSON information to an expanded data frame

In [106]:
x = wb_df_1['mjtheme_namecode']
xdf = json_normalize(wb_df_1['mjtheme_namecode'].iloc[0])
xdf = xdf.drop(xdf.index[:])

for row in x:   
    a = json_normalize(row)
    xdf = xdf.append(a)
    row = next(x.iteritems())
    
xdf.head(20)

  code                                          name
0    8                             Human development
1   11
0    1                           Economic management
1    6         Social protection and risk management
0    5                         Trade and integration
1    2                      Public sector governance
2   11  Environment and natural resources management
3    6         Social protection and risk management
0    7                   Social dev/gender/inclusion
1    7                   Social dev/gender/inclusion
0    5                         Trade and integration
1    4      Financial and private sector development
0    6         Social protection and risk management
1    6
0    2                      Public sector governance
1    4      Financial and private sector development
0   11  Environment and natural resources management
1    8
0   10                             Rural development
1    7

Fill missing values

In [107]:
xdf1 = xdf.reset_index()
xdf1.head(10)

   index code                                          name
0      0    8                             Human development
1      1   11
2      0    1                           Economic management
3      1    6         Social protection and risk management
4      0    5                         Trade and integration
5      1    2                      Public sector governance
6      2   11  Environment and natural resources management
7      3    6         Social protection and risk management
8      0    7                   Social dev/gender/inclusion
9      1    7                   Social dev/gender/inclusion

In [108]:
combinations = xdf1.groupby(['code', 'name']).count()
combinations = combinations.reset_index()
combinations

   code                                          name  index
0     1                                                    5
1     1                           Economic management     33
2    10                                                   14
3    10                             Rural development    202
4    11                                                   27
5    11  Environment and natural resources management    223
6     2                                                   15
7     2                      Public sector governance    184
8     3                                                    3
9     3                                   Rule of law     12
10    4                                                   16
11    4      Financial and private sector development    130
12    5                                                    5
13    5                         Trade and integration     72
14    6                                                   10
15    6         Social protection and risk management    158
16    7                                                   11
17    7                   Social dev/gender/inclusion    119
18    8                                                   13
19    8                             Human development    197
20    9                                                    3
21    9                             Urban development     47

Construct a dictionary of code-name pairs to ensure missing names are filled correctly

In [109]:
namescodes = {1: 'Economic management', 2: 'Public sector governance', 3: 'Rule of law', 4: 'Financial and private sector development',
             5: 'Trade and integration', 6: 'Social protection and risk management', 7: 'Social dev/gender/inclusion',
             8: 'Human development', 9: 'Urban development', 10: 'Rural development', 11: 'Environment and natural resources management'}

In [110]:
namescodes

{1: 'Economic management',
 2: 'Public sector governance',
 3: 'Rule of law',
 4: 'Financial and private sector development',
 5: 'Trade and integration',
 6: 'Social protection and risk management',
 7: 'Social dev/gender/inclusion',
 8: 'Human development',
 9: 'Urban development',
 10: 'Rural development',
 11: 'Environment and natural resources management'}

In [111]:
codes = np.asarray(xdf1.code)
nameslist=[]
for c in codes:
    intcode = int(c)
    name = namescodes.get(intcode)
    nameslist.append(name)

Add new column with all names filled from dictionary and drop column with missing names

In [112]:
xdf1['filled_name'] = nameslist
xdf1 = xdf1.drop('name', axis=1)
xdf1.head(10)

   index code                                   filled_name
0      0    8                             Human development
1      1   11  Environment and natural resources management
2      0    1                           Economic management
3      1    6         Social protection and risk management
4      0    5                         Trade and integration
5      1    2                      Public sector governance
6      2   11  Environment and natural resources management
7      3    6         Social protection and risk management
8      0    7                   Social dev/gender/inclusion
9      1    7                   Social dev/gender/inclusion

# Most popular themes¶

Group themes by code/name and sort from highest to lowest

In [113]:
xdf1.filled_name.value_counts()

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: filled_name, dtype: int64

In [114]:
xdf1_grouped = xdf1.groupby('filled_name').count()
xdf1_grouped = xdf1_grouped.sort_values(by = 'index', ascending=False).reset_index()
xdf1_grouped

                                     filled_name  index  code
0   Environment and natural resources management    250   250
1                              Rural development    216   216
2                              Human development    210   210
3                       Public sector governance    199   199
4          Social protection and risk management    168   168
5       Financial and private sector development    146   146
6                    Social dev/gender/inclusion    130   130
7                          Trade and integration     77    77
8                              Urban development     50    50
9                            Economic management     38    38
10                                   Rule of law     15    15

In [115]:
#themes_df_3.reset_(level=-1)
themes_df_3 = themes_df.set_index('id')
themes_df_3

        code                                          name
id
P129828    8                             Human development
P129828   11
P144674    1                           Economic management
P144674    6         Social protection and risk management
P145310    5                         Trade and integration
P145310    2                      Public sector governance
P145310   11  Environment and natural resources management
P145310    6         Social protection and risk management
P144665    7                   Social dev/gender/inclusion
P144665    7                   Social dev/gender/inclusion
P144933    5                         Trade and integration
P144933    4      Financial and private sector development
P146161    6         Social protection and risk management
P146161    6
P121185    2                      Public sector governance
P121185    4      Financial and private sector development
P127033   11  Environment and natural resources management
P127033    8
P130164   10                             Rural development
P130164    7
P130903    2                      Public sector governance
P130903    2                      Public sector governance
P130903    2                      Public sector governance
P145339   10                             Rural development
P145339    2
P146653   10                             Rural development
P146653    6         Social protection and risk management
P146653    6         Social protection and risk management
P146653   11  Environment and natural resources management
P144140    4
...      ...                                           ...
P126465    8                             Human development
P128763    9                             Urban development
P128763    6         Social protection and risk management
P128763    6         Social protection and risk management
P128763    9                             Urban development
P131860    2                      Public sector governance
P131860    2                      Public sector governance
P123322   10                             Rural development
P123322   11
P128096    8                             Human development
P128096    7                   Social dev/gender/inclusion
P132138   11  Environment and natural resources management
P132138    5
P129177    6         Social protection and risk management
P129177    8
P127299    4      Financial and private sector development
P127299    7                   Social dev/gender/inclusion
P125298    8                             Human development
P125298    5                         Trade and integration
P125298    2                      Public sector governance
P125298    8                             Human development
P128309   10                             Rural development
P128309    6
P117243   10                             Rural development
P117243   10                             Rural development
P117243   10                             Rural development
P126321    9                             Urban development
P126321    8                             Human development
P126321    5                         Trade and integration
P126321    4      Financial and private sector development

[1499 rows x 2 columns]

In [116]:
themes_df_4 = themes_df_3.reset_index()
themes_df_4['name'] = themes_df_4['code'].apply(lambda x: namescodes.get(int(x)))
themes_df_4.head(10)

        id code                                          name
0  P129828    8                             Human development
1  P129828   11  Environment and natural resources management
2  P144674    1                           Economic management
3  P144674    6         Social protection and risk management
4  P145310    5                         Trade and integration
5  P145310    2                      Public sector governance
6  P145310   11  Environment and natural resources management
7  P145310    6         Social protection and risk management
8  P144665    7                   Social dev/gender/inclusion
9  P144665    7                   Social dev/gender/inclusion

In [117]:
themes_df_5 = themes_df_4.groupby('id')['code'].apply(list).reset_index()
themes_df_5.head()

        id              code
0  P075941     [4, 7, 10, 5]
1  P085621   [11, 7, 11, 11]
2  P086592  [11, 10, 10, 10]
3  P094183        [10, 5, 5]
4  P095003           [5, 10]

In [118]:
themes_df_51 = themes_df_4.groupby('id')['name'].apply(list).reset_index()
themes_df_51.head()

        id                                               name
0  P075941  [Financial and private sector development, Soc...
1  P085621  [Environment and natural resources management,...
2  P086592  [Environment and natural resources management,...
3  P094183  [Rural development, Trade and integration, Tra...
4  P095003         [Trade and integration, Rural development]

In [119]:
themes_df_52 = themes_df_5.merge(themes_df_51, on='id')
themes_df_52.head()

,id,code,name
0,P075941,"[4, 7, 10, 5]","[Financial and private sector development, Soc..."
1,P085621,"[11, 7, 11, 11]","[Environment and natural resources management,..."
2,P086592,"[11, 10, 10, 10]","[Environment and natural resources management,..."
3,P094183,"[10, 5, 5]","[Rural development, Trade and integration, Tra..."
4,P095003,"[5, 10]","[Trade and integration, Rural development]"

In [120]:
df5 = wb_df_1.loc[:, ['id', 'mjtheme_namecode']]
df5.head()

        id                                   mjtheme_namecode
0  P129828  [{u'code': u'8', u'name': u'Human development'...
1  P144674  [{u'code': u'1', u'name': u'Economic managemen...
2  P145310  [{u'code': u'5', u'name': u'Trade and integrat...
3  P144665  [{u'code': u'7', u'name': u'Social dev/gender/...
4  P144933  [{u'code': u'5', u'name': u'Trade and integrat...

In [121]:
df6 = df5.merge(themes_df_52, on='id')
df6.head(10)

,id,mjtheme_namecode,code,name
0,P129828,"[{u'code': u'8', u'name': u'Human development'...","[8, 11]","[Human development, Environment and natural re..."
1,P144674,"[{u'code': u'1', u'name': u'Economic managemen...","[1, 6]","[Economic management, Social protection and ri..."
2,P145310,"[{u'code': u'5', u'name': u'Trade and integrat...","[5, 2, 11, 6]","[Trade and integration, Public sector governan..."
3,P144665,"[{u'code': u'7', u'name': u'Social dev/gender/...","[7, 7]","[Social dev/gender/inclusion, Social dev/gende..."
4,P144933,"[{u'code': u'5', u'name': u'Trade and integrat...","[5, 4]","[Trade and integration, Financial and private ..."
5,P146161,"[{u'code': u'6', u'name': u'Social protection ...","[6, 6]","[Social protection and risk management, Social..."
6,P121185,"[{u'code': u'2', u'name': u'Public sector gove...","[2, 4]","[Public sector governance, Financial and priva..."
7,P127033,"[{u'code': u'11', u'name': u'Environment and n...","[11, 8]","[Environment and natural resources management,..."
8,P130164,"[{u'code': u'10', u'name': u'Rural development...","[10, 7]","[Rural development, Social dev/gender/inclusion]"
9,P130903,"[{u'code': u'2', u'name': u'Public sector gove...","[2, 2, 2]","[Public sector governance, Public sector gover..."

In [122]:
df6.shape

(500, 4)